@model GeletoCarDealer.Web.ViewModels.Administration.Images.AllImagesViewModel

@{
    ViewData["Title"] = "Редактиране на снимки";
}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row py-2">
                            <div class="col-md-4 vertical-box">
                                <div class="card">
                                    @foreach (var image in Model.Images)
                                    {
                                        <div>
                                            <img src="@image.ImageUrl" />
                                        </div>
                                        <form method="post" asp-controller="Administration" asp-action="DeleteImage" asp-route-id="@image.Id" align="center" enctype="multipart/form-data">
                                            <div>
                                                <button type="submit" class="btn btn-danger">Премахни снимка</button>
                                            </div>
                                        </form>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<form method="post" asp-controller="Administration" asp-action="AddImages" asp-route-id="@Model.VehicleId" align="center" enctype="multipart/form-data">
    <div class="field" align="center" width=940 cellspacing=0 cellpadding=0 border=0 style="margin:0 auto; margin-top:25px;">
        <style>
            .thumb {
                height: 75px;
                border: 1px solid #000;
                margin: 10px 5px 0 0;
            }
        </style>
        <div class="field" align="center">
            <label asp-for="@Model.Images">Добави снимки</label>
            <input asp-for="@Model.Images" type="file" id="files" name="images" multiple />
            <span asp-validation-for="Images" class="text-danger"></span>
        </div>
    </div>
    <div align="center" cellspacing=0 cellpadding=0 border=0 style="margin:0 auto; margin-top:25px;">
        <button type="submit" class="btn btn-primary">Добави</button>
    </div>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        if (window.File && window.FileList && window.FileReader) {
            $("#files").on("change", function (e) {
                var files = e.target.files,
                    filesLength = files.length;
                for (var i = 0; i < filesLength; i++) {
                    var f = files[i]
                    var fileReader = new FileReader();
                    fileReader.onload = (function (e) {
                        var file = e.target;
                        $("<span class=\"pip\">" +
                            "<img class=\"imageThumb\" src=\"" + e.target.result + "\" title=\"" + file.name + "\"/>" +
                            "<br/><span class=\"remove\">Remove image</span>" +
                            "</span>").insertAfter("#files");
                        $(".remove").click(function () {
                            $(this).parent(".pip").remove();
                        });

                    });
                    fileReader.readAsDataURL(f);
                }
            });
        } else {
            alert("Your browser doesn't support to File API")
        }
    });
</script>

