@model GeletoCarDealer.Web.ViewModels.UsersArea.Messages.MessageInputModel
@{
    ViewData["Title"] = "За контакти";
}
@{
    this.Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (this.TempData["MessageSent"] != null)
{
    <div class="alert alert-success" style="text-align:center;" role="alert">
        <span>@TempData["MessageSent"]</span>
    </div>
}
<!-- /.preloader -->
<div id="preloader"></div>
<div class="theme-layout">
</div><!-- inner Head -->
<section class="block">
    <div class="container">
        <h1 class="nocontent outline">--- email+phone ---</h1>
        <div class="row">
            <div class="col-md-12">
                <div class="contact-lists-sec">
                    <ul>
                        <li>
                            <i class="fa fa-phone"></i>+111 (4500032-5)  (33333357-0)
                        </li>
                        <li>
                            <i class="fa fa-at"></i>Company@email.com
                        </li>
                        <li>
                            <i class="fa fa-support"></i>Get Free Support  24/7
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="block remove-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading4">
                    <h2>КОНТАКТИ</h2>
                </div>
                <div class="contact-page-sec">
                    <div class="row">
                        <div class="col-md-6 column">
                            <div class="contact-form">
                                <form method="post" asp-controller="Messages" asp-action="AskQuestion">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <i class="fa fa-user"></i>
                                            <input asp-for="@Model.SendBy" name="SendBy" type="text" id="SendBy" placeholder="Име*">
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                        </div>
                                        <div class="col-md-12">
                                            <i class="fa fa-at"></i>
                                            <input asp-for="@Model.Email" name="Email" type="text" id="Email" placeholder="Емайл*">
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                        </div>
                                        <div class="col-md-12">
                                            <i class="fa fa-phone"></i>
                                            <input asp-for="@Model.PhoneNumber" name="PhoneNumber" type="text" id="PhoneNumber" placeholder="Телефон*">
                                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                        </div>
                                        <div class="col-md-12">
                                            <i class="fa fa-pencil"></i>
                                            <textarea asp-for="@Model.MessageContent" name="MessageContent" type="text" placeholder="Съобщение"></textarea>
                                            <span asp-validation-for="MessageContent" class="text-danger"></span>
                                        </div>
                                        <div class="col-md-12">
                                            <button class="flat-btn" type="submit">ИЗПРАТИ</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-6 column">
                            <div class="contact-details">
                                <div class="contact-infos">
                                    <ul>
                                        <li>
                                            <span><i class="fa fa-phone"></i> Address</span>
                                            <p>765 Shuttle Swift Area <br>at New Born Road </p>
                                        </li>
                                        <li>
                                            <span><i class="fa fa-fax"></i> Fax/Email</span>
                                            <p>674-46-7-0,   234-8-987 <br>hello@email.com</p>
                                        </li>
                                    </ul>
                                </div>
                                <iframe src="https://www.google.com/maps/embed?pb=!4v1582378904055!6m8!1m7!1sCd8XbHLg9BAeWnL7kwBsKQ!2m2!1d42.01015959990408!2d23.05960655244845!3f167.16159046931782!4f-19.726160840598837!5f0.9461255493672978" allowfullscreen=""></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
