@using GeletoCarDealer.Common
@using GeletoCarDealer.Data.Models.Enums
@{
    this.ViewData["Title"] = "Home Page";
    this.Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- /.preloader -->
<div id="preloader"></div>
<div class="theme-layout">
</div>
@*<div class="inner-head overlap">
<div style="background: url(/img/parallax1.jpg) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible"></div><!-- PARALLAX BACKGROUND IMAGE -->
<div class="container">
    <div class="inner-content">
        <span>
            <i class="ti ti-home"></i>
        </span>
        <h2>АВТОКЪЩА - ГЕЛЕТО</h2>
        <ul>
            <li><a href="/Home/Index" title="">НАЧАЛО</a></li>
            <li><a href="/Vehicles/GetAll" title="">АВТОМОБИЛИ</a></li>
        </ul>
    </div>
</div>
</div><!--<!-- inner Head -->*@
<section class="horizontal-search">
    <div class="container">
        <h1 class="nocontent outline">--- Search form  ---</h1>
        <div class="">
            <div class="search-form">
                <form action="vehiculs.html" method="get" class="form-inline">
                    <div class="search-form-content">
                        <div class="search-form-field">
                            <div class="form-group col-xs-12 col-sm-3 col-md-3">
                                <div class="label-select">
                                    <select class="form-control" name="s_location">
                                        <option>Марка</option>
                                        <option>Audi</option>
                                        <option>Mercedes-Benz</option>
                                        <option>BMW</option>
                                        <option>Lexus</option>
                                        <option>Lincoln</option>
                                        <option>Ford</option>
                                        <option>Fiat</option>
                                        <option>Dodge</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-sm-3 col-md-3">
                                <div class="label-select">
                                    <select class="form-control" name="anymodule">
                                        <option>Модел</option>
                                        <option value="1">R8</option>
                                        <option value="2">S500</option>
                                        <option value="3">540i</option>
                                        <option value="4">RX300</option>
                                        <option value="5">Navigator</option>
                                        <option value="6">Taurus</option>
                                        <option value="7">Doblo</option>
                                        <option value="8">Viper</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-sm-3 col-md-3">
                                <div class="label-select">
                                    <select class="form-control" name="s_location">
                                        <option>Година</option>
                                        <option>2014</option>
                                        <option>2013</option>
                                        <option>2012</option>
                                        <option>2011</option>
                                        <option>2010</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-sm-3 col-md-3">
                                <div class="label-select">
                                    <select class="form-control" name="s_statu">
                                        <option>Двигател</option>
                                        <option value="damaged">Бензин</option>
                                        <option value="new">Дизел</option>
                                        <option value="semi-new">Хибрид</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-sm-3 col-md-3">
                            </div>
                            <div class="form-group col-xs-12 col-sm-3 col-md-3">
                                <span class="gprice-label">Цена</span>
                                <input type="text" class="span2" value="" data-slider-min="0"
                                       data-slider-max="60000" data-slider-step="5"
                                       data-slider-value="[0,60000]" id="price-range">
                            </div>
                            <div class="form-group col-xs-12 col-sm-3 col-md-3">
                                <span class="garea-label">Километри</span>
                                <input type="text" class="span2" value="" data-slider-min="0"
                                       data-slider-max="10000000" data-slider-step="5"
                                       data-slider-value="[50,1000000]" id="vehicul-geo">
                            </div>
                        </div>
                    </div>
                    <div class="search-form-submit">
                        <button type="submit" class="btn-search">Търси</button>
                    </div>
                </form>
            </div><!-- Services Sec -->
        </div>
    </div>
</section>
<section class="block remove-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading4">
                    <h2>Последно добавени</h2>
                </div>
                @foreach (var vehicle in Model.Vehicles)
                {
                    var transmissionType = (TransmissionType)Enum.Parse(typeof(TransmissionType), vehicle.TransmissionType);
                    var fuelType = (FuelType)Enum.Parse(typeof(FuelType), vehicle.FuelType);
                    <div class="recommended-cars">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row py-2">
                                                <div class="col-md-4 vertical-box">
                                                    <div class="card">
                                                        <a asp-controller="Vehicles" asp-action="ById"  asp-route-id="@vehicle.Id">
                                                            <img  class="card-img-top mh200-text" src="@vehicle.ImageUrl" alt="Card image">
                                                            <div class="card-body">
                                                                <h4 class="card-title mw30-text">
                                                                    @vehicle.Year | @vehicle.Make | @vehicle.Model
                                                                </h4>
                                                                <h5 class="card-text">@vehicle.Price лв.</h5>

                                                                <ul class="list-inline">
                                                                    <li class="list-inline-item">@vehicle.Milage Km</li>
                                                                    <li class="list-inline-item">@Html.DisplayFor(f => fuelType)</li>
                                                                    <li class="list-inline-item">@Html.DisplayFor(t => transmissionType)</li>
                                                                </ul>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 vertical-box">
                                                    <div class="card">
                                                        <img class="card-img-top mh200-text" src="https://img2.gaadicdn.com/images/usedcarimages/320x224/11-2017/1843403/IMG_6603.jpg" alt="Card image">
                                                        <div class="card-body">
                                                            <h4 class="card-title mw30-text">
                                                                2006 Toyota Innova 2.5 V Diesel 7-seater
                                                                2006 Toyota Innova 2.5 V Diesel 7-se
                                                            </h4>
                                                            <h5 class="card-text">Rs. 25.32 Lac*</h5>

                                                            <ul class="list-inline">
                                                                <li class="list-inline-item">44,114 Km</li>
                                                                <li class="list-inline-item">Petrol</li>
                                                                <li class="list-inline-item">Gurugram</li>
                                                            </ul>
                                                            <button type="button" class="btn btn-outline-danger">Contact Sellers</button>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-4 vertical-box">
                                                    <div class="card">
                                                        <img class="card-img-top mh200-text" src="https://img2.gaadicdn.com/images/usedcarimages/320x224/11-2017/1843403/IMG_6603.jpg" alt="Card image">
                                                        <div class="card-body">
                                                            <h4 class="card-title mw30-text">
                                                                2006 Toyota Innova 2.5 V Diesel 7-seater
                                                                2006 Toyota Innova 2.5 V Diesel 7-se
                                                            </h4>
                                                            <h5 class="card-text">Rs. 25.32 Lac*</h5>

                                                            <ul class="list-inline">
                                                                <li class="list-inline-item">44,114 Km</li>
                                                                <li class="list-inline-item">Petrol</li>
                                                                <li class="list-inline-item">Gurugram</li>
                                                            </ul>
                                                            <button type="button" class="btn btn-outline-danger">Contact Sellers</button>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
