@model GeletoCarDealer.Web.ViewModels.UsersArea.Vehicles.AllVehiclesViewModel
@using GeletoCarDealer.Data.Models.Enums
@{
    ViewData["Title"] = "Търсене на автомобили";
}
<section class="horizontal-search">
    <div class="container">
        <h1 class="nocontent outline">--- Search form  ---</h1>
        <div class="">
            <div class="search-form">
                <div class="search-form-content">
                    <div class="search-form-field">
                        <form id="order-form" asp-controller="Vehicles" asp-action="GetAll" method="get">
                            <div class="form-group col-xs-12 col-sm-3 col-md-3">
                                <div class="label-select">
                                    <select asp-for="@Model.Make" id="make" class="form-control">
                                        <option value="">--Марка--</option>
                                        @if (Model.Category == 0)
                                        {
                                            @foreach (var make in Model.Makes.Select(x => x.Make).Distinct())
                                            {
                                                <option value="@make">@make</option>
                                            }
                                        }
                                        else
                                        {
                                            @foreach (var make in Model.Makes)
                                            {
                                                <option value="@make.Make">@make.Make</option>
                                            }
                                        }

                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-sm-3 col-md-3">
                                <div class="label-select">
                                    <select asp-for="@Model.Model" id="vehicleModel" class="form-control">
                                        <option value="">--Модел--</option>
                                        @foreach (var vehicleModel in Model.Models.Select(x => x.Model).Distinct())
                                        {
                                            <option value="@vehicleModel"> @vehicleModel</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-sm-3 col-md-3">
                                <div class="label-select">
                                    <select asp-for="@Model.Category" asp-items="Html.GetEnumSelectList<CategoryType>()" id="category" name="category" placeholder="Категория" class="form-control">
                                        <option value="0">--Kатегория--</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-sm-3 col-md-3">
                                <div class="label-select">
                                    <select asp-for="@Model.OrderBy" id="sort" class="form-control" name="orderBy">
                                        <option value="">Сортирай по:</option>
                                        <option value="upPrice">Цена възходяща</option>
                                        <option value="downPrice">Цена низходяща</option>
                                        <option value="year">Година</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div><!-- Services Sec -->
        </div>
    </div>
</section>
<!-- /.preloader -->
<section class="block remove-top">
    <div class="container">
        <div class="col-md-12">
            <div id="cars-wrapper">
                <div class="white-box clearfix">
                    @foreach (var vehicle in Model.Vehicles)
                    {
                        var transmissionType = (TransmissionType)Enum.Parse(typeof(TransmissionType), vehicle.TransmissionType);
                        var fuelType = (FuelType)Enum.Parse(typeof(FuelType), vehicle.FuelType);
                        <div class="row car-listing">
                            <div class="separator-lg noprint"></div>
                            <div class="col-xs-5 col-sm-4 col-md-4 col-lg-4">
                                <a asp-controller="Vehicles" asp-action="ById" asp-route-id="@vehicle.Id" title="@vehicle.Make @vehicle.Model" class="thumb js-query-href-car">
                                    <img src="@vehicle.ImageUrl" alt="@vehicle.Make" />
                                </a>
                            </div>
                            <div class="col-xs-7 col-sm-8 col-md-8 col-lg-8">
                                <h4>
                                    <a asp-controller="Vehicles" asp-action="ById" asp-route-id="@vehicle.Id">
                                        @vehicle.Make @vehicle.Model
                                    </a>
                                </h4>
                                <div class="row car-description">
                                    <div class="col-sm-7 col-sm-push-5">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-push-6 right-col-xs">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <strong>@vehicle.Price BGN</strong>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-sm-pull-6">
                                                <div class="row hidden-xs">
                                                    <div class="col-sm-12 col-verticalpad hidden-xs">
                                                        @vehicle.Year
                                                    </div>

                                                    <div class="col-sm-12 col-verticalpad">
                                                        @vehicle.Milage км
                                                    </div>

                                                    <div class="col-sm-12 col-verticalpad">
                                                        @vehicle.HorsePower к.с.
                                                    </div>

                                                    <div class="col-sm-12 col-verticalpad">
                                                        @Html.DisplayFor(f => fuelType)
                                                    </div>

                                                    <div class="col-sm-12 col-verticalpad">
                                                        @Html.DisplayFor(f => transmissionType)
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-5 col-sm-pull-7">
                                        <div class="row hidden-xs">
                                            <div class="col-sm-12 col-verticalpad hidden-xs">
                                                Година на производство
                                            </div>
                                            <div class="col-sm-12 col-verticalpad">
                                                Пробег
                                            </div>
                                            <div class="col-sm-12 col-verticalpad hidden-xs">
                                                Мощност
                                            </div>
                                            <div class="col-sm-12 col-verticalpad hidden-xs">
                                                Двигател
                                            </div>
                                            <div class="col-sm-12 col-verticalpad">
                                                Скоростна кутия
                                            </div>
                                        </div>
                                        <div class="row visible-xs">
                                            <div class="col-xs-12">
                                                @vehicle.Year
                                            </div>
                                            <div class="col-xs-12">
                                                @vehicle.Milage км
                                            </div>
                                            <div class="col-xs-12">
                                                @vehicle.HorsePower к.с.
                                            </div>
                                            <div class="col-xs-12">
                                                @Html.DisplayFor(f => fuelType)<br />@Html.DisplayFor(t => transmissionType)<br />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
<script>
    $('#sort').change(function () {
        $('#order-form').submit();
    });

    $('#category').change(function () {
        $('#order-form').submit();
    });
    $('#vehicleModel').change(function () {
        $('#order-form').submit();
    });
    $('#make').change(function () {
        $('#order-form').submit();
    });

</script>

