@using GeletoCarDealer.Common

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>
    <!-- Styles -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css" /><!-- Bootstrap -->
    <link rel="stylesheet" href="~/fonts/font-awesome/css/font-awesome.min.css" type="text/css" /><!-- Icons -->
    <link rel="stylesheet" href="~/fonts/themify-icons/themify-icons.css" type="text/css" /><!-- Icons -->
    <link rel="stylesheet" href="~/css/owl.carousel.css" type="text/css" /><!-- Owl Carousal-->
    <link rel="stylesheet" href="~/css/price-range.css" type="text/css" /><!-- Owl Carousal -->
    <link rel="stylesheet" href="~/css/style.css" type="text/css" /><!-- Style -->
    <link rel="stylesheet" href="~/css/responsive.css" type="text/css" /><!-- Responsive -->
    <link rel="stylesheet" href="~/css/colors.css" type="text/css" /><!-- color -->
    <!-- REVOLUTION STYLE SHEETS -->
    <link rel="stylesheet" type="text/css" href="~/js/rs-plugin/css/settings.css" />


</head>
<body>

    <!-- /.preloader -->
    @*<div class="theme-layout">
            <div class="account-popup-sec">
                <div class="account-popup-area">
                    <div class="account-popup">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="account-user">
                                    <div class="logo">
                                        <a href="#" title="">
                                            <i class="fa fa-get-pocket"></i>
                                            <span>ГЕЛЕТО</span>
                                            <strong>SELL VEHICULS</strong>
                                        </a>
                                    </div> LOGO
                                    <form>
                                        <h1>Login Form</h1>
                                        <div class="field">
                                            <input type="text" placeholder="Username" />
                                        </div>
                                        <div class="field">
                                            <input type="password" placeholder="Password" />
                                        </div>
                                        <div class="field">
                                            <input type="submit" value="SEND NOW" class="flat-btn" />
                                        </div>
                                    </form>
                                    <i>OR</i>
                                    <span>LOGIN WITH</span>
                                    <ul class="social-btns">
                                        <li><a href="#" title=""><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#" title=""><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="#" title=""><i class="fa fa-twitter"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="registration-sec">
                                    <h1>SIGNUP Form</h1>
                                    <form>
                                        <div class="field">
                                            <input type="text" placeholder="Your Name" />
                                        </div>
                                        <div class="field">
                                            <input type="text" placeholder="Your Email" />
                                        </div>
                                        <div class="field">
                                            <input type="password" placeholder="Type Password" />
                                        </div>
                                        <div class="field">
                                            <input type="password" placeholder="Retype Password" />
                                        </div>
                                        <input type="submit" value="Singup Now" class="flat-btn" />
                                    </form>
                                </div> Registration sec
                            </div>
                        </div>
                        <span class="close-popup"><i class="fa fa-close"></i></span>
                    </div>
                </div>
            </div>
        </div>*@<!-- Account Popup Sec -->
    <header class="simple-header for-sticky white">
        <div class="top-bar">
            <div class="container">
                <ul class="contact-item">
                    <li><i class="fa fa-envelope-o"></i>yourcompnay@email.com</li>
                    <li><i class="fa fa-mobile"></i>+1 333 44 555 / +1 333 44 500</li>
                </ul>
            </div>
        </div><!-- Top bar -->
        <div class="menu">
            <div class="container">
                <div class="logo">
                    <a href="/Home/Index" title="">
                        <span><img class="img-logo" src="~/img/logo.png" width="150" height="80"></span>
                    </a>
                </div><!-- LOGO -->
                @if (this.User.Identity.IsAuthenticated)
                {
                    <form asp-area="Identity" asp-page="/Account/Logout"
                          asp-route-returnUrl="@Url.Page("/", new { area = "" })"
                          method="post">
                        <div class="popup-client">
                            <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                        </div>
                    </form>
                }
                else
                {
                    <div class="popup-client">
                        <span><a href="/Identity/Account/Login" title="Manage">Login</a></span>
                        <span><a href="/Identity/Account/Register" title="Manage">Register</a></span>
                    </div>
                }
                <span class="menu-toggle"><i class="fa fa-bars"></i></span>
                <nav>
                    <h1 class="nocontent outline">--- Main Navigation ---</h1>
                    <ul>
                        <li> <a href="/Home/Index" title="">Начало</a></li>
                        <li class="menu-item-has-children">
                            <a href="#" title="">Категория</a>
                            <ul>
                                <li><a href="vehiculs3.html" title="">Автомобили и Джипове</a></li>
                                <li><a href="vehiculs.html" title="">Бусове</a></li>
                                <li><a href="vehiculs2.html" title="">Камиони</a></li>
                                <li><a href="vehicul.html" title="">Мотори</a></li>
                            </ul>
                        </li>
                        <li><a href="/Vehicles/GetAll" title="">Търсене на Автомобил</a></li>
                        <li><a href="/Home/Index" title="">Форум</a></li>
                        <li>
                            <a href="/Home/Contacts" title="">Контакти</a>
                        </li>
                    </ul>
                </nav>

            </div>
        </div>
    </header>
    <main role="main" class="pb-3">
        @this.RenderBody()
    </main>
    <div class="container">
        <partial name="_CookieConsentPartial" />
    </div>
    <footer class="light-footer">
        <div class="bottom-line">
            <div class="container">
                <span>Copyright All Right Reserved 2020</span>
                <ul>
                    <li><a title="" href="/Home/Index">НАЧАЛО</a></li>
                    <li><a title="" href="/Vehicles/GetAll">АВТОМОБИЛИ</a></li>
                    <li><a title="" href="#">ФОРУМ</a></li>
                    <li><a title="" href="/Home/Contacts">КОНТАКТИ</a></li>
                </ul>
            </div>
        </div>
        <a href="#" class="scrollToTop"><i class="ti ti-arrow-circle-up"></i></a>
    </footer>
    <!-- Script -->
    <script type="text/javascript" src="~/js/modernizr.js"></script><!-- Modernizer -->
    <script type="text/javascript" src="~/js/jquery-1.10.2.min.js"></script><!-- Jquery -->
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script><!-- Bootstrap -->
    <script type="text/javascript" src="~/js/owl.carousel.min.js"></script><!-- Owl Carousal -->
    <script type="text/javascript" src="~/js/html5lightbox.js"></script><!-- HTML -->
    <script type="text/javascript" src="~/js/scrolly.js"></script><!-- Parallax -->
    <script type="text/javascript" src="~/js/price-range.js"></script><!-- Parallax -->
    <script type="text/javascript" src="~/js/script.js"></script><!-- Script -->

    <script src="~/js/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/js/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    @this.RenderSection("Scripts", required: false)

    <script type="text/javascript">
        $(document).ready(function () {
            "use strict";
            jQuery('.tp-banner').show().revolution({
                dottedOverlay: "none",
                delay: 16000,
                startwidth: 1170,
                startheight: 700,
                hideThumbs: 200,
                thumbWidth: 100,
                thumbHeight: 50,
                thumbAmount: 5,
                navigationType: "bullet",
                navigationArrows: "solo",
                navigationStyle: "preview1",
                touchenabled: "on",
                onHoverStop: "on",
                swipe_velocity: 0.7,
                swipe_min_touches: 1,
                swipe_max_touches: 1,
                drag_block_vertical: false,
                parallax: "mouse",
                parallaxBgFreeze: "on",
                parallaxLevels: [7, 4, 3, 2, 5, 4, 3, 2, 1, 0],
                keyboardNavigation: "off",
                navigationHAlign: "center",
                navigationVAlign: "bottom",
                navigationHOffset: 0,
                navigationVOffset: 20,
                soloArrowLeftHalign: "left",
                soloArrowLeftValign: "center",
                soloArrowLeftHOffset: 20,
                soloArrowLeftVOffset: 0,
                soloArrowRightHalign: "right",
                soloArrowRightValign: "center",
                soloArrowRightHOffset: 20,
                soloArrowRightVOffset: 0,
                shadow: 0,
                fullWidth: "on",
                fullScreen: "off",
                spinner: "spinner4",
                stopLoop: "off",
                stopAfterLoops: -1,
                stopAtSlide: -1,
                shuffle: "off",
                autoHeight: "off",
                forceFullWidth: "off",
                hideThumbsOnMobile: "off",
                hideNavDelayOnMobile: 1500,
                hideBulletsOnMobile: "off",
                hideArrowsOnMobile: "off",
                hideThumbsUnderResolution: 0,
                hideSliderAtLimit: 0,
                hideCaptionAtLimit: 0,
                hideAllCaptionAtLilmit: 0,
                startWithSlide: 0,
                videoJsPath: "rs-plugin/videojs/",
                fullScreenOffsetContainer: ""
            });

            $(".carousel-prop").owlCarousel({
                autoplay: true,
                autoplayTimeout: 3000,
                smartSpeed: 2000,
                loop: true,
                dots: true,
                nav: false,
                items: 4,
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 1,
                        nav: false
                    },
                    600: {
                        items: 2,
                        nav: false
                    },
                    1000: {
                        items: 3,
                        nav: true,
                        loop: false
                    }
                }
            });

            $(".carousel").owlCarousel({
                autoplay: true,
                autoplayTimeout: 3000,
                smartSpeed: 2000,
                loop: false,
                dots: false,
                nav: true,
                margin: 0,
                items: 3
            });

            $(".carousel-client").owlCarousel({
                autoplay: true,
                autoplayTimeout: 3000,
                smartSpeed: 2000,
                loop: false,
                dots: false,
                nav: true,
                margin: 30,
                items: 5,
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 1,
                        nav: true
                    },
                    600: {
                        items: 3,
                        nav: true
                    },
                    1000: {
                        items: 5,
                        nav: true,
                        loop: false
                    }
                }
            });

        });
    </script>
</body>
</html>
