@model GeletoCarDealer.Web.ViewModels.UsersArea.Vehicles.SearchBarViewModel
@using GeletoCarDealer.Data.Models.Enums
<section class="horizontal-search">
    <div class="container">
        <h1 class="nocontent outline">--- Search form  ---</h1>
        <div class="">
            <div class="search-form">
                <div class="search-form-content">
                    <div class="search-form-field">
                        <form runat="server" autopostback="true" id="order-form" asp-controller="Vehicles" asp-action="GetAll" method="GET">
                            <div class="form-group col-xs-12 col-sm-3 col-md-3">
                                <div class="label-select">
                                    <select class="form-control">
                                        <option value="">--Марка--</option>
                                        @foreach (var make in Model.Makes)
                                        {
                                            <option value="@make.Make">@make.Make</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-sm-3 col-md-3">
                                <div class="label-select">
                                    <select class="form-control">
                                        <option value="">--Модел--</option>
                                        @foreach (var currentModel in Model.Models)
                                        {
                                            <option value="@currentModel.Model">@currentModel.Model</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-sm-3 col-md-3">
                                <div class="label-select">
                                    <select id="category" asp-items="@Html.GetEnumSelectList<CategoryType>()" name="category" placeholder="Категория" class="form-control">
                                        <option value="">--Kатегория--</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-sm-3 col-md-3">
                                <div class="label-select">
                                    <select id="sort" class="form-control" name="orderBy">
                                        <option>Сортирай по:</option>
                                        <option value="upPrice">Цена възходяща</option>
                                        <option value="downPrice">Цена низходяща</option>
                                        <option value="year">Година</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div><!-- Services Sec -->
        </div>
    </div>
</section>
<script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
<script>
    $('#sort').change(function () {
        $('#order-form').submit();
    });
    $('#category').change(function () {
        $('#order-form').submit();
    });
    $(function () {
        $("#sort").click(function () {
            var item = $("#sort option:selected").text();
            sessionStorage.setItem("sele", item);
        });
        var ty = sessionStorage.getItem("sele");
        if (ty) {
            //Set the value of select from sessionStorage
            $('#sort option').filter(function () { return $(this).html() == ty; }).prop('selected', true);
        }
    });
    $(function () {
        $("#category").click(function () {
            var item = $("#category option:selected").text();
            sessionStorage.setItem("cat", item);
        });
        var ty = sessionStorage.getItem("cat");
        if (ty) {
            //Set the value of select from sessionStorage
            $('#category option').filter(function () { return $(this).html() == ty; }).prop('selected', true);
        }
    });
</script>